@font-face {
	font-family: 'Graphik LCG';
	src: url('../fonts/GraphikLCG-Medium.woff2') format('woff2'),
		url('../fonts/GraphikLCG-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Regular.woff2') format('woff2'),
		url('../fonts/Gilroy-Regular.woff') format('woff');
	font-display: swap;
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-ExtraBold.woff2') format('woff2'),
		url('../fonts/Gilroy-ExtraBold.woff') format('woff');
	font-display: swap;
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url('../fonts/Gilroy-Medium.woff2') format('woff2'),
		url('../fonts/Gilroy-Medium.woff') format('woff');
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Gilroy', sans-serif;
	
}

/*.backimg {
	background-image: url(../images/fon.png);
	background-position: bottom;
	background-repeat: no-repeat;
}
*/
.heading {
    color: black;
    font-size: 32;
	font-family: 'Graphik LCG', sans-serif;
	padding: 30px 0 30px 0;
	margin-bottom: 30px;
}

.main_heading{
    margin: 30px 0 30px 100px;
    color: black;
    font-size: 37px;
    font-family: 'Gilroy', sans-serif;
}
.container {
	width: 1170px;
	margin: 0 auto;
	padding: 0 30px 0 30px;
	
}

.return-link{
	background: url(../images/return.png) no-repeat left center;
	background-size: 20px;
    padding-left: 20px;
    color: black;
    font-size: 18px;
    font-family: 'Gilroy', sans-serif;
  }

.section {
    margin-left: 80px;
}
.child {
	display: inline-block;
	width: 45%;
	min-height: 500px;
	max-width: 480px;
	border: 1px solid #000;
	border-color: transparent;
	margin-bottom: 20px;
	vertical-align: middle;
	position: relative;
	box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
	}

.subtitle {
	margin: 20px 0 30px 50px;
	color: #2f1ce4;
	font-size: 36px;
	font-family: 'Gilroy', sans-serif;
}

.text {
	margin: 0 0 0 50px;
	color: #000;
	font-size: 16px;
	font-family: 'Gilroy', sans-serif;
}

.number {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 56px;
    font-family: 'Gilroy', sans-serif;
    opacity: 0.1;
    }

.parent {
    width: 1170px; /* для примера */
    margin: 0 auto;
    }

.right {
    margin-left: 5%;
    }

.btn_center {
    padding-top: 100px;
	text-align: center;
	
    }

.more_info {
	position: relative;
	left: 40%;
    padding: 20px 60px;
    margin: 100px 0 20px 0;
    color: #2f1ce4;
    background-color: transparent;
	outline: 3px solid #2f1ce4;
}
